@font-face {
    font-family: 'Angilla Tattoo Personal Use';
    src: url('AngillaTattooPersonalUse.woff2') format('woff2'),
        url('AngillaTattooPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic-Bold.woff2') format('woff2'),
        url('CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Century Gothic';
    font-weight: normal;
    background: linear-gradient(300deg, rgba(22,21,36,1), rgba(17,18,27,1))  !important;
}

.container-fluid  {
    padding: 0;
}

.bg-light {
    background: linear-gradient(300deg, rgba(96,7,30,1), rgba(205,34,57,1))  !important;
}

.logo-menu {
    width: 50px;
}

.navbar-brand {
    font-family: 'Angilla Tattoo Personal Use';
    font-size: 1.6rem;
}